<h1>Hacer transacción</h1>
<%= form_with model: [@account, @transaccion], local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
  </p>
 
  <p>
    <%= form.label :transaction_date %><br>
    <%= form.date_select :transaction_date%>
  </p>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :comments %>
  </p>
  <p>
    <%= form.label 'Categoría' %>
    <%= form.collection_select :category_id, Category.all, :id, :name, {include_hidden: false}, {multiple: true}  %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
