<h1>Transaccion <%= @transaction.id %></h1>

<p>
  Nombre: <%= @transaction.name %>
</p>
<p>
  Cantidad: <%= @transaction.amount %>
</p>
<p>
  Fecha: <%= @transaction.transaction_date %>
</p>
<p>
  Comentarios: <%= @transaction.comments %>
</p>
<p>
  <strong> Categorías: </strong>
<% @categories.each do |category| %>
  <%= category.name %>
<% end %>
</p>
<%= link_to 'Editar', edit_account_transaccion_path(@account, @transaction) %>
<%= link_to 'Atras', account_path(@account) %>
