<h1>Categorías</h1>
<ul>
<% @categories.each do |category| %>
  <li><%= category.name %> - <%= link_to 'Show', category_path(category) %> -
    <%= link_to 'Delete', category_path(category), method: :delete, 
    data: { confirm: 'Está seguro?'} %></li>
<% end %>
</ul>
<div>
  <%= link_to 'Crear categoría', new_category_path %> -
  <%= link_to 'Usuarios', accounts_path %>
</div>
