<h1>Crear categoría</h1>

<%= form_with model:@category do |form| %>
  <p> 
    <%= form.label :name %> <br>
    <%= form.text_field :name%>
  </p>
  <p>
    <%= form.label :description %> <br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
