<h1>Cuentas</h1>
<ul>
<% @accounts.each do |account| %>
  <li><%= account.name %> - <%= link_to 'Show', account_path(account) %> </li>
<% end %>
</ul>
<p><%= link_to 'Crear cuenta', new_account_path %></p>
