<h1>Resultados por categoría para <%= @account.name %></h1>

<table>
  <tr>
    <th>Categoría</th>
    <th>Balance</th>
  </tr>
  <% @resultado.each do |name, amount| %>
    <tr>
      <td><%= name %></td>
      <td><%= amount %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Volver', account_path(@account) %>
