<h1> <%=@account.name.capitalize %> </h1>

<ul>
  <% @account.transactions.each do |transaccion| %>
    <li><%=transaccion.id %> - <%= transaccion.name %> - 
      <%= transaccion.amount %> - <%= link_to 'Show', account_transaccion_path(@account, transaccion) %> 
      - <%= link_to 'Eliminar', account_transaccion_path(@account, transaccion), method: :delete, data: { confirm: 'Esta seguro?'} %> </li>
  <% end %>
</ul>
<p> <strong>Debe:</strong> <%= @debe %></p>
<p> <strong>Haber:</strong> <%= @haber %></p>
<p> <strong>Total:</strong> <%= @total_amount %>

<p> <%= link_to 'Crear transaccion', new_account_transaccion_path(@account.id) %> - 
    <%= link_to 'Ver categorias', categories_path %> - <%= link_to 'Resumen por categorías', account_categories_path(@account) %></p>


